Sandbox.ipynb
.ipynb_checkpoints/Sandbox-checkpoint.ipynb
.ipynb_checkpoints/algorithm-checkpoint.py
.ipynb_checkpoints/conllu_reader-checkpoint.py
.ipynb_checkpoints/model-checkpoint.py
__pycache__/conllu_token.cpython-313.pyc
__pycache__/state.cpython-313.pyc
__pycache__/algorithm.cpython-313.pyc
__pycache__/conllu_reader.cpython-313.pyc
__pycache__/conllu_token.cpython-313.pyc
__pycache__/conllu_reader.cpython-313.pyc
__pycache__/model.cpython-313.pyc
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/main-checkpoint.py
__pycache__/conllu_token.cpython-313.pyc
.ipynb_checkpoints/main-checkpoint.py
